@model Data.Model.Notes

@{
    ViewBag.Title = "View";
     var loggedInUser = (Data.Model.User)TempData["Apr"];
    TempData["Apr"] = loggedInUser;


    List<Data.Model.Notes> UserNotes = new List<Data.Model.Notes>();
    using (Data.Data.NotesContext context = new Data.Data.NotesContext())
    {
        foreach (Data.Model.Notes note in context.Notes)
        {
            if (note.UserId == loggedInUser.Id)
            {
                UserNotes.Add(note);
            }
            // TempData["UserNotes"] = UserNotes;
        }
    }
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/html/notes_sheet.css">
</head>
<body>

    <div id="navbar">

        <a class="active" href="Home">
            <img class="image" src="~/Content/Images/logo1.png" width=70px height=18%>
        </a>

        <a href="UserProfile">@loggedInUser.Username</a>
        <div class="dropdown">
            <button class="dropbtn">
                Идеи
                <i class="fa fa-caret-down"> </i>
            </button>
            <div class="dropdown-content">
                <a href="cooking"> Готварство </a>
                <a href="music"> Музика </a>
                <a href="kino"> Кино </a>

            </div>
        </div>
        <a href="/apr/signout" style="float: right;"> Изход </a>
    </div>
    @using (Html.BeginForm("Notes", "Apr", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<div class="form-vertical">
    <h4>Бележки</h4>
    <h4>Моят лист със задачи</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Запази" class="btn btn-default" />
        </div>
    </div>
</div>
    }
</body>
<div>
    <ul id="myUL1"> 
        @foreach (var note in UserNotes)
        {

            <li>@note.Note</li>
            <li> @Html.ActionLink("Delete", "DeleteNote", new { id = note.Id })</li>
            
        }

    </ul>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
